.wrap {
  height: 100%;
  background-color: #232220;
  overflow: hidden;
}
@keyframes move {
  2% {
    transform: translate(6px, -2px) rotate(3.5deg);
  }
  4% {
    transform: translate(5px, 8px) rotate(-0.5deg);
  }
  6% {
    transform: translate(6px, -3px) rotate(-2.5deg);
  }
  8% {
    transform: translate(4px, -2px) rotate(1.5deg);
  }
  10% {
    transform: translate(-6px, 8px) rotate(-1.5deg);
  }
  12% {
    transform: translate(-5px, 5px) rotate(1.5deg);
  }
  14% {
    transform: translate(4px, 10px) rotate(3.5deg);
  }
  16% {
    transform: translate(0px, 4px) rotate(1.5deg);
  }
  18% {
    transform: translate(-1px, -6px) rotate(-0.5deg);
  }
  20% {
    transform: translate(6px, -9px) rotate(2.5deg);
  }
  22% {
    transform: translate(1px, -5px) rotate(-1.5deg);
  }
  24% {
    transform: translate(-9px, 6px) rotate(-0.5deg);
  }
  26% {
    transform: translate(8px, -2px) rotate(-1.5deg);
  }
  28% {
    transform: translate(2px, -3px) rotate(-2.5deg);
  }
  30% {
    transform: translate(9px, -7px) rotate(-0.5deg);
  }
  32% {
    transform: translate(8px, -6px) rotate(-2.5deg);
  }
  34% {
    transform: translate(-5px, 1px) rotate(3.5deg);
  }
  36% {
    transform: translate(0px, -5px) rotate(2.5deg);
  }
  38% {
    transform: translate(2px, 7px) rotate(-1.5deg);
  }
  40% {
    transform: translate(6px, 3px) rotate(-1.5deg);
  }
  42% {
    transform: translate(1px, -5px) rotate(-1.5deg);
  }
  44% {
    transform: translate(10px, -4px) rotate(-0.5deg);
  }
  46% {
    transform: translate(-2px, 2px) rotate(3.5deg);
  }
  48% {
    transform: translate(3px, 4px) rotate(-0.5deg);
  }
  50% {
    transform: translate(8px, 1px) rotate(-1.5deg);
  }
  52% {
    transform: translate(7px, 4px) rotate(-1.5deg);
  }
  54% {
    transform: translate(10px, 8px) rotate(-1.5deg);
  }
  56% {
    transform: translate(-3px, 0px) rotate(-0.5deg);
  }
  58% {
    transform: translate(0px, -1px) rotate(1.5deg);
  }
  60% {
    transform: translate(6px, 9px) rotate(-1.5deg);
  }
  62% {
    transform: translate(-9px, 8px) rotate(0.5deg);
  }
  64% {
    transform: translate(-6px, 10px) rotate(0.5deg);
  }
  66% {
    transform: translate(7px, 0px) rotate(0.5deg);
  }
  68% {
    transform: translate(3px, 8px) rotate(-0.5deg);
  }
  70% {
    transform: translate(-2px, -9px) rotate(1.5deg);
  }
  72% {
    transform: translate(-6px, 2px) rotate(1.5deg);
  }
  74% {
    transform: translate(-2px, 10px) rotate(-1.5deg);
  }
  76% {
    transform: translate(2px, 8px) rotate(2.5deg);
  }
  78% {
    transform: translate(6px, -2px) rotate(-0.5deg);
  }
  80% {
    transform: translate(6px, 8px) rotate(0.5deg);
  }
  82% {
    transform: translate(10px, 9px) rotate(3.5deg);
  }
  84% {
    transform: translate(-3px, -1px) rotate(3.5deg);
  }
  86% {
    transform: translate(1px, 8px) rotate(-2.5deg);
  }
  88% {
    transform: translate(-5px, -9px) rotate(2.5deg);
  }
  90% {
    transform: translate(2px, 8px) rotate(0.5deg);
  }
  92% {
    transform: translate(0px, -1px) rotate(1.5deg);
  }
  94% {
    transform: translate(-8px, -1px) rotate(0.5deg);
  }
  96% {
    transform: translate(-3px, 8px) rotate(-1.5deg);
  }
  98% {
    transform: translate(4px, 8px) rotate(0.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes textOneMove {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wrap .wrap-top {
  position: relative;
}
.wrap .wrap-top .bg-img {
  width: 100%;
}
.wrap .wrap-top .link-group {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1.25rem /* 20/16 */;
  right: 3.125rem /* 50/16 */;
}
.wrap .wrap-top .link-group img {
  width: 4.0625rem /* 65/16 */;
  height: 4.0625rem /* 65/16 */;
  margin-left: 0.9375rem /* 15/16 */;
}
.wrap .wrap-top .mint-img {
  width: 8.5rem /* 136/16 */;
  position: absolute;
  bottom: -2.5rem /* 40/16 */;
  right: 16.6875rem /* 267/16 */;
  z-index: 2;
  cursor: pointer;
  animation: move 10s infinite ease-in-out;
}
.wrap .wrap-top .opensea-img {
  width: 3.125rem /* 50/16 */;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.wrap .wrap-content {
  width: 100%;
  position: relative;
}
.wrap .wrap-content .text-one {
  position: absolute;
  top: -3.125rem /* 66/16 */;
  z-index: 1;
  transform: rotate(4deg);
}
.wrap .wrap-content .text-one,
.wrap .wrap-content .text-two {
  color: #fff;
  font-size: 1.875rem /* 30/16 */;
  font-weight: 800;
  white-space: nowrap;
  background-color: #000;
  line-height: 5rem /* 100/16 */;
  border-top: #f361cc solid 10px;
  border-bottom: #5848bb solid 10px;
  width: 104%;
  height: 6.25rem /* 100/16 */;
}
.wrap .wrap-content .text-one p,
.wrap .wrap-content .text-two p {
  animation: textOneMove 15s infinite linear;
}
.wrap .wrap-content .content-middle {
  width: 100%;
  height: 42.5rem /* 965/16 */;
  position: relative;
}
.wrap .wrap-content .content-middle .middle-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrap .wrap-content .content-middle .middle-people {
  position: absolute;
  height: 18.75rem /* 300/16 */;
  bottom: 22.1875rem /* 355/16 */;
  right: 6.25rem /* 100/16 */;
}
.wrap .wrap-content .content-middle .text-two {
  position: absolute;
  left: -1.3125rem /* 21/16 */;
  bottom: -1.6rem /* 25/16 */;
  transform: rotate(-2deg) translateX(0);
}
.wrap .wrap-content .content-middle .chat-icon {
  position: absolute;
  right: 11.25rem /* 180/16 */;
  bottom: 6.25rem /* 100/16 */;
}
.wrap .wrap-content .content-middle .chat-icon img {
  cursor: pointer;
  position: absolute;
}
.wrap .wrap-content .content-middle .chat-icon .twitter-img {
  left: -6.25rem /* 100/16 */;
  width: 3.125rem /* 50/16 */;
}
.wrap .wrap-content .content-middle .chat-icon .discord-img {
  width: 5rem /* 80/16 */;
  left: -3.75rem /* 60/16 */;
  top: -6.25rem /* 100/16 */;
  transform: rotate(45deg);
}
.wrap .wrap-content .content-middle .chat-icon .ins-img {
  width: 4.375rem /* 70/16 */;
  top: -0.625rem /* 10/16 */;
}
.wrap .wrap-content .content-text {
  position: absolute;
  display: flex;
  top: 20.9375rem /* 335/16 */;
  left: 13.75rem /* 220/16 */;
}
.wrap .wrap-content .content-text p {
  color: #fff;
  width: 20.625rem /* 330/16 */;
}
.wrap .wrap-content .content-text .left-text {
  margin-right: 7.8125rem /* 125/16 */;
}
.wrap .wrap-bottom {
  width: 100%;
  margin-top: -0.75rem /* 12/16 */;
  margin-left: -0.75rem /* 12/16 */;
  background-color: #00000000;
}
.wrap > ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
.wrap > ul > li {
  list-style: none;
}
.wrap > ul > li:nth-child(1) {
  width: 8.125rem /* 130/16 */;
  /* height:1400px; */
  border: 1px solid white;
}
.wrap > ul > li:nth-child(2) {
  width: 25rem /* 400/16 */;
  height: 87.5rem /* 1400/16 */;
  border: 1px solid white;
}
.wrap > ul > li:nth-child(2) > div {
  width: 25rem /* 400/16 */;
  height: 31.25rem /* 500/16 */;
  border: 1px solid red;
}
.wrap > ul > li:nth-child(3) {
  width: 76.25rem /* 1220/16 */;
  height: 81.25rem /* 1300/16 */;
  border: 1px solid white;
}
.wrap > ul > li:nth-child(3) > div:nth-child(1) {
  width: 100%;
  height: 37.5rem /* 600/16 */;
  border: 1px solid blue;
}
.wrap > ul > li:nth-child(3) > div:nth-child(2) {
  width: 100%;
  height: 29.25rem /* 468/16 */;
  border: 1px solid fuchsia;
}
.box {
  width: 12.5rem /* 200/16 */;
  height: 3.125rem /* 50/16 */;
  border: 1px solid black;
  position: relative;
  top: -2.5rem /* 40/16 */;
  left: 48%;
}
.box > p {
  color: black;
  text-align: center;
  line-height: 3.125rem /* 50/16 */;
  /* display: none; */
}
.box > button {
  width: 3.125rem /* 50/16 */;
  height: 1.25rem /* 20/16 */;
  font-size: 0.8125rem /* 13/16 */;
  color: black;
  margin-left: 70%;
  margin-top: 0.625rem /* 10/16 */;
}
.open-site {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 50rem;
  top: -58rem;
  left: 0rem;
  z-index: 2;
  cursor: pointer;
}
.open-site .opensea-img {
  position: absolute;
  top: 15rem;
  left: 4rem;
  width: 3.125rem /* 50/16 */;
  cursor: pointer;
}
.open-site .Sucessful-img {
  width: 31rem;
  position: absolute;
  cursor: pointer;
  top: 7rem;
  left: 3rem;
}
.open-site .openaes-img {
  width: 30rem;
  position: absolute;
  cursor: pointer;
  top: 15rem !important;
  left: 8rem !important;
}
.open-site .body_export-img {
  width: 2rem;
  position: absolute;
  top: 16rem;
  left: 38.8rem;
}
.open-site .Groupimg {
  width: 50rem;
  position: absolute;
  cursor: pointer;
  top: -2rem;
  left: 9rem;
}
.open-site .CheckEtherscan-img {
  width: 25rem;
  position: absolute;
  top: 19rem;
  left: 10rem;
}
.open-site .body_export-img1 {
  width: 2rem;
  position: absolute;
  top: 19rem;
  left: 36rem;
}
.open-site .backbtn {
  width: 10rem;
  position: absolute;
  top: 22rem;
  left: 15rem;
  animation: move 10s infinite ease-in-out;
}
.open-site .metamask1-img {
  width: 40rem;
  position: absolute;
  cursor: pointer;
}
.open-site .mint-img {
  width: 40rem;
  position: absolute;
  cursor: pointer;
}
.open-site .mastmarsk-img {
  width: 20rem;
  position: absolute;
  top: 18rem;
  left: 15rem;
  animation: move 10s infinite ease-in-out;
}
.open-site .buy-img {
  width: 6rem;
  position: absolute;
  cursor: pointer;
  left: 43rem;
  top: 2rem;
  z-index: 3;
}
.open-site .time-img-box {
  position: absolute;
  z-index: 3;
  left: 14rem;
  top: 10rem;
  display: flex;
  color: #fff;
  align-items: center;
  font-size: 2.5rem /* 40/16 */;
}
.open-site .time-img-box .time-img {
  width: 15rem;
  margin-top: 0.9rem;
}
.open-site .time-img-box span {
  transform: rotate(-2deg);
}
.open-site .taranstr-img {
  position: absolute;
  z-index: 3;
  width: 20rem;
  left: 16rem;
  top: 21.5rem;
}
.open-site .Blackbackground-img {
  width: 53.125rem /* 850/16 */;
  position: absolute;
  cursor: pointer;
}
.open-site .body_text_box {
  position: absolute;
  left: 20rem;
  top: 15rem;
  font-size: 4rem /* 40/16 */;
  color: #fff;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.open-site .body_text_box .body_text-img {
  margin-top: -0.9375rem /* 15/16 */;
  width: 10rem;
}
.open-site .out-img {
  width: 2rem;
  position: absolute;
  cursor: pointer;
  left: 21.4rem;
  top: 20.3rem;
}
.open-site p {
  position: absolute;
  cursor: pointer;
  left: 25.4rem;
  top: 21.2rem;
  font-size: 2rem;
  color: #fff;
}
.open-site .up-img {
  width: 2rem;
  position: absolute;
  cursor: pointer;
  left: 28.5rem;
  top: 21rem;
}
.open-site .Mint_two-img {
  width: 12rem;
  position: absolute;
  cursor: pointer;
  left: 23rem;
  top: 24rem;
  animation: move 10s infinite ease-in-out;
}
.walletStatus .time-img-box {
  left: 10rem;
  top: 5rem;
  font-size: 1.575rem /* 30/16 */;
}
.walletStatus .time-img-box .time-img {
  width: 10rem;
}
