.wrap {
  height: 100%;
  background-color: #232220;
  overflow: hidden;

  .wrap-top {
    position: relative;
    .bg-img {
      width: 100%;
    }
    .link-group {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 1.25rem /* 20/16 */;
      right: 3.125rem /* 50/16 */;
      img {
        width: 4.0625rem /* 65/16 */;
        height: 4.0625rem /* 65/16 */;
        margin-left: 0.9375rem /* 15/16 */;
      }
    }
    .mint-img {
      width: 8.5rem /* 136/16 */;
      position: absolute;
      bottom: -2.5rem /* 40/16 */;
      right: 16.6875rem /* 267/16 */;
      z-index: 2;
      cursor: pointer;
    }
  
    .opensea-img {
      width: 3.125rem /* 50/16 */;
      position: absolute;
      bottom: 0;
      cursor: pointer;
    }
    
  }
  .wrap-content {
    width: 100%;
    position: relative;
    height: 50.3125rem /* 965/16 */;

    .text-one {
      width: 104%;
      height: 9.09375rem /* 145.5/16 */;
      position: absolute;
      left: -1.3125rem /* 21/16 */;
      top: -4.125rem /* 66/16 */;
      z-index: 1;
    }
    .content-middle {
      width: 100%;
      height: 42.5rem /* 965/16 */;
      background-color: yellow;
      position: relative;
      .middle-bg {
        position: absolute;
        width: 100%;
        // height: 60.3125rem /* 965/16 */;
      }
      .middle-people {
        position: absolute;
        height: 18.75rem /* 300/16 */;
        bottom: 22.1875rem /* 355/16 */;
        right: 6.25rem /* 100/16 */;
      }
      .text-two {
        width: 104%;
        height: 9.09375rem /* 145.5/16 */;
        position: absolute;
        left: -1.3125rem /* 21/16 */;
        bottom: -11.5625rem /* 25/16 */;
      }
      .chat-icon {
        position: absolute;
        right: 11.25rem /* 180/16 */;
        bottom: 6.25rem /* 100/16 */;
        img {
          cursor: pointer;
          position: absolute;
        }
        .twitter-img {
          left: -6.25rem /* 100/16 */;
          width: 3.125rem /* 50/16 */;
        }
        .discord-img {
          width: 5rem /* 80/16 */;
          left: -3.75rem /* 60/16 */;
          top: -6.25rem /* 100/16 */;
          transform: rotate(45deg);
        }
        .ins-img {
          width: 4.375rem /* 70/16 */;
          top: -0.625rem /* 10/16 */;
        }
      }
    }
    .content-text {
      position: absolute;
      display: flex;
      top: 20.9375rem /* 335/16 */;
      left: 13.75rem /* 220/16 */;
      p {
        color: #fff;
        width: 20.625rem /* 330/16 */;
      }
      .left-text {
        margin-right: 7.8125rem /* 125/16 */;
      }

    }
  }
  .wrap-bottom {
    width: 100%;
    margin-top: -0.75rem /* 12/16 */;
    margin-left: -0.75rem /* 12/16 */;
    background-color: #00000000;
  }
}

.wrap > ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
.wrap > ul > li {
  list-style: none;
}
.wrap > ul > li:nth-child(1) {
  width: 8.125rem /* 130/16 */;
  /* height:1400px; */
  border: 1px solid white;
}
.wrap > ul > li:nth-child(2) {
  width: 25rem /* 400/16 */;
  height: 87.5rem /* 1400/16 */;
  border: 1px solid white;
}
.wrap > ul > li:nth-child(2) > div {
  width: 25rem /* 400/16 */;
  height: 31.25rem /* 500/16 */;
  border: 1px solid red;
}

.wrap > ul > li:nth-child(3) {
  width: 76.25rem /* 1220/16 */;
  height: 81.25rem /* 1300/16 */;
  border: 1px solid white;
}
.wrap > ul > li:nth-child(3) > div:nth-child(1) {
  width: 100%;
  height: 37.5rem /* 600/16 */;
  border: 1px solid blue;
}
.wrap > ul > li:nth-child(3) > div:nth-child(2) {
  width: 100%;
  height: 29.25rem /* 468/16 */;
  border: 1px solid fuchsia;
}
.box {
  width: 12.5rem /* 200/16 */;
  height: 3.125rem /* 50/16 */;
  border: 1px solid black;
  position: relative;
  top: -2.5rem /* 40/16 */;
  left: 48%;
}
.box > p {
  color: black;
  text-align: center;
  line-height: 3.125rem /* 50/16 */;

  /* display: none; */
}
.box > button {
  width: 3.125rem /* 50/16 */;
  height: 1.25rem /* 20/16 */;
  font-size: 0.8125rem /* 13/16 */;
  color: black;
  margin-left: 70%;
  margin-top: 0.625rem /* 10/16 */;
}
.open-site{
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 50rem;
  top:-66rem;
  left: 13rem;
  z-index: 2;
  cursor: pointer;
  .opensea-img{
    position: absolute;
    top: 19rem;
    left: 7rem;
    width: 2.125rem /* 50/16 */;
    cursor: pointer;
  }
  .Sucessful-img{
    width: 31rem;
    position: absolute;
    cursor: pointer;
    top: 7rem;
    left: 3rem;
  }


  .openaes-img{
    width: 30rem;
    position: absolute;
    cursor: pointer;
    top: 15rem !important;
    left: 8rem !important;
  }
  .body_export-img{
    width: 2rem;
    position: absolute;
    top: 21rem;
    left: 48.8rem;
  }
  .Groupimg{
    width: 50rem;
    position: absolute;
    cursor: pointer;
    top: -2rem;
    left: 9rem;
  }
  .CheckEtherscan-img{
    width: 25rem;
    position: absolute;
    top: 19rem;
    left: 10rem;
  }
  .body_export-img1{
    width: 2rem;
    position: absolute;
    top: 19rem;
    left: 36rem;
  }



  .metamask1-img{
    width: 40rem;
    position: absolute;
    cursor: pointer;
  }
  .mint-img{
    width: 40rem;
    position: absolute;
    cursor: pointer;
  }
  .mastmarsk-img{
    width: 20rem;
    position: absolute;
    top: 18rem;
    left: 15rem;
  }
 .buy-img{
   width: 6rem;
   position: absolute;
   cursor: pointer;
   left: 31rem;
   top: 2rem;
   z-index: 3;
 }
 .time-img{
   position: absolute;
   z-index: 3;
   width: 20rem;
   left: 9rem;
   top: 6rem;
 }
 .taranstr-img{
  position: absolute;
  z-index: 3;
  width: 20rem;
  left: 16rem;
  top: 21.5rem;
 }
 .Blackbackground-img{
  width: 40rem;
  position: absolute;
  cursor: pointer;
 }
 .body_text-img{
   width: 16rem;
   position: absolute;
   cursor: pointer;
   left: 12rem;
   top: 11rem;
 }
 .out-img{
  width: 2rem;
  position: absolute;
  cursor: pointer;
  left: 19.4rem;
  top: 16.3rem;
 }
 p{
position: absolute;
 cursor: pointer;
 left: 22.4rem;
 top: 17rem;
 font-size: 2rem;
 }
 .up-img{
  width: 2rem;
  position: absolute;
 cursor: pointer;
 left: 24.5rem;
 top:16.8rem;
 }
 .Mint_two-img{
  width: 12rem;
  position: absolute;
  cursor: pointer;
  left: 20rem;
  top: 21rem;
 }
}
// two
